* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

#calculator {
  width: 400px;
  background-color: black;
  color: white;
}

.display {
  font-size: 40px;
  text-align: right;
  padding: 20px 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-top: 2px;
}

.btn {
  width: 25%;
  margin-right: 2px;
  color: black;
  font-size: 40px;
  border: none;
  background-color: #d8d9db;
}

.btn:hover {
  background-color: #ebebeb;
}

.double {
  width: 50.50%;
  margin-right: 2px;
  padding-right: -2px;
}

.triple {
  width: 76.50%;
}

.btn:last-child {
  margin-right: 0;
  background-color: #df974c;
  color: white;
}

.btn:last-child:hover {
  background-color: #dfb07e;
}
